header {
 padding: 18px 0;
 position: absolute;
 left: 0;
 width: 100%;
 top: 0;
 z-index: 20;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;

}
