.index-second{
    padding: clamp(21px, 2.051vw, 24px) 0 18px;


    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(32px, 12.65vw, 148px);
    }

    &__disclaimer{
        width: 100%;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: rgba(var(--cl-c),1.0);
    }
}   