<footer>
  <div class="container">
    <div class="footer">

      <div class="footer__coll">
        <!-- <a href="/" class="logo">
          <img width='154' height='26' src="img/sprite/main-logo.svg" alt="logo">
        </a>
        <div class="alt-logo">
          <svg width='92' height='24'>
            <use href='img/sprite/sprite.svg#alt-logo'></use>
          </svg>
        </div>
      </div> -->

        <nav class="main-nav footer__nav">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Home
              </a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">
                Blog
              </a>
            </li>
          </ul>
        </nav>

        <span class="footer__info">
          NodeRaptor © 2023
        </span>

        <ul class="social-list footer__social">
          <li class="social-list__item">
            <a href="#" class="social-list__link">
              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#tg'></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="#" class="social-list__link"><svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#dis'></use>
              </svg></a>
          </li>
          <li class="social-list__item">
            <a href="#" class="social-list__link">
              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#git'></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
</footer>