<header class="fixed-block">
  <div class="container">
    <div class="header">
      <a href="#" class="logo">
        <img width='132' height='24' src="img/sprite/logo.svg" alt="logo">
      </a>

      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a href="#" class="main-nav__link" data-btn-modal="2">
              <span class="main-nav__amount"></span>
              <svg width="24" height="24">
                <use href='img/sprite/sprite.svg#icon'></use>
              </svg>
            </a>
          </li>
  
        </ul>
      </nav>


  </div>
</header>
