.cards-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: clamp(18px, 2.564vw, 30px);
    flex-flow: wrap;

    @include small-tablet{
        display: grid;
        grid-template-columns: 100%;
    }
}