.main-nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    grid-gap: 36px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    position: relative;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(var(--cl-c),1.0);
  }

  &__amount {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(var(--bg-c), 1);
    position: absolute;
    top: -1px;
    right: 0;
  }
}
