.modal{
    z-index: 3;

    width: 90vw;
    max-width: 370px;
 

    &__box{
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-gap: 48px;
    }

    &__status{
        padding: 15px 25px;
        background: rgba(var(--cl-f),0.2);
        border-radius: 4px;
        
        &-about{

            font-family:  var(--font-family);
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: rgba(var(--cl-f),1.0);
            display: flex;
            // align-items: center;
            justify-content: center;
            grid-gap: 8px;
            white-space: nowrap;

            @include mobile{
                white-space: normal;
            }

            svg{
                fill:rgba(var(--bg-f),1.0);
            }
        }

        &--cancel{
            background: rgba(var(--bg-p),0.2);

            .modal__status-about{
                color: rgba(var(--cl-d),1.0);
                svg{
                    fill: rgba(var(--bg-q),1.0);
                }
            }
        }
    }
}

.modal-recover{
    max-width: 374px;
}