.project-sublist{
   display: flex;
   align-items: center;
//    justify-content: space-between;
   flex-wrap: wrap;
    grid-gap: 36px;

    @include mobile{
        justify-content: center;
       
            grid-template-columns: repeat(2, 1fr);
            display: grid;
         
    }


    &__item{
        width: 150px;
        display: flex;
        flex-direction: column;
        grid-gap: 6px;
        position: relative;

        &:not(:first-child){
            &::before{
                content: "";
                position: absolute;
                height: 100%;
                width: 1px;
                background-color: rgba(var(--bg-g),1.0);
                top: 0;
                left: -18px;
            }    
        }

        @media (max-width: (1201px)) {
            &:last-child::before{
                opacity: 0;
            }
          }
          @media (max-width: (599px)) {
            &:last-child::before{
                opacity: 1;
            }
            &:nth-child(3)::before{
                opacity: 0;
            }
          }

        
    }

    &__name{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: rgba(var(--cl-c),1.0);
        @include mobile{
            text-align: center;
          }
    }

    &__status{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: rgba(var(--cl-a),1.0);
        @include mobile{
            text-align: center;
          }
    }
}