.social-list{
    display: flex;
    align-items: center;
    grid-gap: 18px;


    &__link{
        svg{
            transition: all .4s;
            fill: #728A96;
        }

        &:hover{
            svg{
            fill: #0CAF60; 
        }
    }
    }
}