.tabs-nav{
    display: flex;
    align-items: center;
    grid-gap: 36px;
    

    &__btn{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: rgba(var(--cl-c),1.0);
        padding-bottom: 15px;
        position: relative;
        transition: all .4s;

        &:before{
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: auto;
            width: 0;
            height: 1px;
            background-color: #0CAF60;
            -webkit-transition: .4s ease-out;
            transition: .4s ease-out;
        }

        &.active{
            color: rgba(var(--cl-a),1.0);
            &::before{
                right: auto;
                left: 0;
                width: 100%;
            }
            
        }
    }
}